@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional custom styles below */
:root { --page-bg: #F9FAFB; }
html,body,#root { height:100%; }
body { background-color: var(--page-bg); font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; color: #111827; }
